*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --background-colour: hsl(47, 88%, 63%);
}


body {
    background-color: var(--background-colour);
    color: hsl(0, 0%, 7%);
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 4rem;
}

.main-body {
    border: 1.5px solid black;
    border-radius: 0.75rem;
    padding: 1rem;
    background-color: white;
    font-family: "Figtree", sans-serif;
    box-shadow: 0.34375em 0.34375em;
    --margin: 3rem;
    --max-width:30rem;
    width: min(100% - var(--margin), var(--max-width))
}

img {
    width: 100%;
    border-radius: 10px;
}

.learni {
    background-color: var(--background-colour);
    display: inline-block;
    margin-block-end: 0.5rem;
    margin-block-start: 0.5rem;
    padding: 0.3rem;
    border-radius: 0.3125em;
    font-weight: bold;
    
}

.publdate {
    font-weight: 500;
}

h1 {
    font-weight: 800;
    margin-block-end: 0.5rem;
}

.textt {
    color: hsl(0, 0%, 42%);
    margin-block-end: 0.5rem;
}

.avatarimg {
    width:10%;
    display: inline-block;

}

.avatarr {
    position:relative;
}

.avname{
    display: inline-block;
    position: absolute;
    margin-block-start: 2.5%;
    margin-inline-start: 2.5%;
    font-weight: 700;
}

@media screen and (min-width: 320px) {
   .main-body { margin: 5em 1em;
}
}

@media screen and (min-width: 481px) {
   .main-body { margin: 5em 4em;
}
}

@media screen and (min-width: 641px) {
   .main-body { margin: 5em 7.2em;
}
}

@media screen and (min-width: 961px) {
   .main-body { margin: 5em 16.4em;
}
}

@media screen and (min-width: 1025px) {
   .main-body { margin: 5em 18.4em;
}
}

@media screen and (min-width: 1280px) {
   .main-body { margin: 5em 26.2em;
}
}

@media screen and (min-width: 1320px) {
   .main-body { margin: 5em 33.8em;
}
}


